@font-face
{
	font-family: title;
	src: url(../fonts/evanescent.ttf);
}


body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url('../media/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

hr {
    border-color: rgb(157,121,83);
}


.carousel
{
	margin-bottom: 20px;
}

#content
{
    background-color: rgba(39,36,34,0.5);
    margin-top: 10px;
    border: 3px outset rgb(157, 121, 83);
    border-radius: 10px;
    color: rgb(255,204,116);
}

.row
{
    margin-top: 10px;
}

.carousel .item {
    width: 100%; /*slider width*/
    max-height: 600px; /*slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
}
/*add some makeup*/
.carousel .carousel-control {
    background: none;
    border: none;
    top: 0%;
}

.col-lg-12
{
    padding-right: 20px;
    padding-left: 20px;
}

.navbar-inverse
{
    background-image: url("../media/head_foot.png");
    background-color: transparent;
}

.navbar
{
    min-height: 100px;
}

.navbar-brand
{
    height: 120px;
}

#slide
{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 40px;
}

#foot
{
    background-image: url("../media/head_foot.png");
    background-size: 1920px 100%;
    position: absolute;
    bottom: -1;
    left: 0;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}

#bs-example-navbar-collapse-1
{
    float: right;
}



#content
{
    margin-top: 30px;
}