@font-face
{
	font-family: title;
	src: url(../fonts/evanescent.ttf);
}


body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url('../media/mtg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

hr {
    border-color: #999999;
}


.carousel
{
	margin-bottom: 20px;
}

.row
{
    background-color: rgba(255,255,255,0.9);
    margin-top: 10px;
}

.carousel .item {
    width: 100%; /*slider width*/
    max-height: 600px; /*slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
}
/*add some makeup*/
.carousel .carousel-control {
    background: none;
    border: none;
    top: 0%;
}

.col-lg-12
{
    padding-right: 20px;
    padding-left: 20px;
}

.navbar-inverse
{
    background-image: url("../media/background.png");
    background-color: transparent;
}

.navbar
{
    min-height: 100px;
}

.navbar-brand
{
    height: 120px;
}

#slide
{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 40px;
}

#foot
{
    background-image: url("../media/background.png");
}

#bs-example-navbar-collapse-1
{
    float: right;
}

.list-inline
{
    padding-top: 36px
}

#content
{
    margin-top: 30px;
}