@font-face
{
	font-family: title;
	src: url(../fonts/evanescent.ttf);
}


body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url('../media/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

hr {
    border-color: #999999;
}


.carousel
{
	margin-bottom: 20px;
}

.row
{
    background-color: rgba(255,255,255,0.9);
}

.carousel .item {
    width: 100%; /*slider width*/
    max-height: 600px; /*slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
}
/*add some makeup*/
.carousel .carousel-control {
    background: none;
    border: none;
    top: 0%;
}

footer
{
    background-color: rgba(255,255,255,0.9);
}

